# --- Project Global ---
pydantic>=2.0.2
python-dotenv
psutil
# --- Module Recursive Imports ---
-r backend/modules/n1_embedding/requirements.txt
-r backend/modules/n2_image_processing/requirements.txt
-r backend/modules/n4_location_ranking/requirements.txt
-r backend/modules/n5_activity_generation/requirements.txt
-r backend/modules/n6_activity_ranking/requirements.txt
-r backend/modules/n17_feedback_processing/requirements.txt
-r backend/n3_database/requirements.txt
-r backend/n18_orchestrator/requirements.txt